.btnCount {
    height: 20px;
    width: 20px;
    background-color: rgb(253, 238, 225);
    border: none;
    color: rgb(255, 106, 0);
    margin: 0 0.15rem;
}

.btnContainer {
    display: flex;
    width: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30px;
    justify-content: center;
}

.countContainer {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    justify-items: center;
   
}